<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Your Personal Wellness Tracker</h1>
    <h2>Welcome, <%= user.userName %>!</h2>
    <h3>Journal Entries</h3>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> journal entries.</h2>

    <form action="/todos/createTodo" method='POST'>
        
        <div>
            Did I exercise today?
            <input type="checkbox" name="exercise" value='Yes' id="yesBox">
            <label for="yesBox">Yes</label>
            <input type="checkbox" name="exercise" value='No' id="noBox" checked>
            <label for="noBox">No</label>
        </div>
        <div>
            How many drinks did I have?
            <label for="drinks">Number of Drinks:</label>
            <input type="range" name="drinks" id="drinks" min="0" max="10" step="1" value="0">
            <output class="drinks-output" for="drinks"></output>

        </div>
        <div>
            How positive was my mood?
            <label for="mood">Mood:</label>
            <input type="range" name="mood" id="mood" min="1" max="10" step="1" value="8">
            <output class="mood-output" for="mood"></output>

        </div>
        <input type="text" placeholder="Journal Entry" name='todoItem'>
        <input type="submit">

    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>